#regi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#regi img {
    width: 369px;
    height: 350px;
}
#doc {
    width: 259px;
    height: 313px;
}
#titleRegister {
    display: flex;
    align-items: end;
}