#regi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#regi img {
    width: 369px;
    height: 350px;
}
#doc {
    width: 259px;
    height: 313px;
}
#titleRegister {
    display: flex;
    align-items: end;
}
#formRe {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
#formRe form {
    display: flex;  
    justify-content: start;
    align-items: center;
    width: 546px;
    height: 700px;
    margin-right: 10%;
}
#formRe form label, input {
    width: 100%;
}
#formRe form button {
    border-radius: 10px;
    width: 116px;
    height: 31px;
    font-size: 20px;
    font-weight: bold;
}

#formRe a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 216px;
    height: 164px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

footer {
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
    height: 24px;
}
footer a {
    text-decoration: none;
    color: black;
}