{% extends 'base.html.twig' %}

{% block title %}New HistoryRdv{% endblock %}

{% block body %}
    <h1>Create new HistoryRdv</h1>

    {{ include('history_rdv/_form.html.twig') }}

    <a href="{{ path('app_history_rdv_index') }}">back to list</a>
{% endblock %}
